.panel-login {
background-color: rgb(60, 73, 84, 0.8);
border-radius: 15px;
width: 30%;
height: 40%;
}
.login {
background-image: url(fondo-prelogin-ejc.jpg);
position: fixed;
width: 100%;
height: 100%;
background-repeat: no-repeat;
text-align: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}