<div>
    <p-table #dt1 [value]="incidentes" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['estado','prioridad_resultante','tipo_incidente_fk','unidad_inciente_fk']"
        selectionMode="single">
        <ng-template pTemplate="caption">
            <div class="p-d-flex" style="padding: 1px;">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal(handleInput($event), 'contains')"
                        placeholder="Search keyword" style="margin-left: 35px;" />
                </span>
            </div>
            <div class="flex" style="margin-left: 90%;">
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                    class="p-button-success mr-2" pTooltip="Exportar Incidentes" tooltipPosition="bottom"></button>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Especialista
                        <p-columnFilter type="text" field="incident" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Herramienta
                        <p-columnFilter type="text" field="incident" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tipo de Incidente
                        <p-columnFilter type="text" field="incident.tipo_incidente_fk" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Especialidad CIBER
                        <p-columnFilter type="text" field="incident.tipo_especialidad_fk" display="menu">
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Criticidad
                        <p-columnFilter type="text" field="incident.prioridad_resultante" display="menu">
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Unidad Táctica
                        <p-columnFilter type="text" field="incident.unidad_incidnete_fk" display="menu">
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Fecha Identifica
                        <p-columnFilter type="date" field="incident.fecha_identifca" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Estado
                        <p-columnFilter type="text" field="incident.estado" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        HostName
                        <p-columnFilter type="text" field="incident" display="menu"></p-columnFilter>
                    </div>
                </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr *ngFor="let incidente of incidentes" [pSelectableRow]="incidente">
                <td>{{incidente.id}}</td>
                <!--TODO: pendiente incluir en el json el campo Especialista-->
                <td>Especialista pendiente json</td>
                <!--TODO: pendiente incluir en el json el campo Herramienta-->
                <td>Herramienta pendiente json</td>
                <td>{{incidente.tipo_incidente_fk}}</td>
                <td>{{incidente.tipo_especialidad_fk}}</td>
                <td>{{incidente.prioridad_resultante}}</td>
                <td>{{incidente.unidad_inciente_fk}}</td>
                <td>{{incidente.fecha_identifca}}</td>
                <td>{{incidente.estado}}</td>
                <!--TODO: pendiente incluir en el json el campo HostName-->
                <td>Hostmane Pendiente json</td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>

</div>